<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple registration form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
        html, body {
            display: flex;
            justify-content:left;
            height: 100%;
        }
        body, div, h1, form, input, p {
            padding: 0;
            margin: 0;
            outline: none;
            font-family: Roboto, Arial, sans-serif;
            font-size: 16px;
            color: #666;
        }
        h1 {
            padding: 10px 0;
            font-size: 32px;
            font-weight: 300;
            text-align: center;
        }
        p {
            font-size: 12px;
        }
        hr {
            color: #a9a9a9;
            opacity: 0.3;
        }
        .main-block {
            max-width: 340px;
            min-height: 260px;
            padding: 10px 0;
            margin: auto;
            border-radius: 5px;
            border: solid 1px #ccc;
            box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            background: #ebebeb;
        }
        form {
            margin: 0 30px;
        }

        input[type=radio] {
            display: none;
        }
        label#icon {
            margin: 0;
            border-radius: 5px 0 0 5px;
        }
        label.radio {
            position: relative;
            display: inline-block;
            padding-top: 4px;
            margin-right: 20px;
            text-indent: 30px;
            overflow: visible;
            cursor: pointer;
        }
        label.radio:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #1c87c9;
        }
        label.radio:after {
            content: "";
            position: absolute;
            width: 9px;
            height: 4px;
            top: 8px;
            left: 4px;
            border: 3px solid #fff;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
            opacity: 0;
        }
        input[type=radio]:checked + label:after {
            opacity: 1;
        }
        input[type=text], input[type=password] {
            width: calc(100% - 57px);
            height: 36px;
            margin: 13px 0 0 -5px;
            padding-left: 10px;
            border-radius: 0 5px 5px 0;
            border: solid 1px #cbc9c9;
            box-shadow: 1px 2px 5px rgba(0,0,0,.09);
            background: #fff;
        }
        input[type=password] {
            margin-bottom: 15px;
        }

        .btn-block {
            margin-top: 10px;
            text-align: center;
        }
        button {
            width: 100%;
            padding: 10px 0;
            margin: 10px auto;
            border-radius: 5px;
            border: none;
            background: #1c87c9;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
        }
        button:hover {
            background: #26a9e0;
        }
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
</head>
<body>
<div class="main-block">
    <form action="#" th:action="@{/admin_flights/add_flight}" th:object="${flightDto}" method="post">
        <hr>
        <hr>
        <select name="departureAirport" th:field="*{airportDeparture}" >
            <option th:each="airport: ${airports}" th:value="${airport.getName()}" th:text="${airport.getName()}"></option>
        </select>
        <select name="arrivalAirport" th:field="*{airportArrival}" >
            <option th:each="airport: ${airports}" th:value="${airport.getName()}" th:text="${airport.getName()}"></option>
        </select>
        <input th:field="*{departureTime}" type="datetime-local" name="password" id="name" placeholder="Departure time" required/>
        <input th:field="*{arrivalTime}" type="datetime-local" name="password" id="name" placeholder="Arrival time" required/>
        <select name="flightAirplane" th:field="*{airplane}">
            <option th:each="airplane: ${airplanes}" th:value="${airplane.getName()}" th:text="${airplane.getName()}"></option>
        </select>
        <input th:field="*{price}" type="number" name="password" id="name" placeholder="Price" required/>
        <input th:field="*{nrOfBookings}" type="number" name="password" id="name" placeholder="Nr of bookings" required/>
        <hr>
        <hr>
        <div class="btn-block">
            <button name="action" type="submit" value="add">Add flight</button>
            <div class="alert" th:if="${flag}">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Departure time is after arrival time.
            </div>
        </div>
    </form>
    <form action="#" th:action="@{/admin_flights/delete_flight}" method="post">
        <hr>
        <hr>
        <select name="flightToDelete">
            <option th:each="flight: ${flights}" th:value="${flight.toString()}" th:text="${flight.toString()}"></option>
        </select>
        <hr>
        <hr>
        <div class="btn-block">
            <button name="action" type="submit" value="delete">Delete flight</button>
        </div>
    </form>
    <form action="#" th:action="@{/admin_flights/update_flight/flight_time}"  method="post">
        <hr>
        <hr>
        <select name="flightToUpdateTime">
            <option th:each="flight: ${flights}" th:value="${flight.toString()}" th:text="${flight.toString()}"></option>
        </select>
        <input name="newDepartureTime" type="datetime-local"  id="name" placeholder="New name" required/>
        <input name="newArrivalTime" type="datetime-local"  id="name" placeholder="New name" required/>
        <hr>
        <hr>
        <div class="btn-block">
            <button name="action" type="submit" value="update">Update flight</button>
        </div>
        <div class="alert" th:if="${flag}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Departure time is after arrival time.
        </div>
    </form>
    <form action="#" th:action="@{/admin_flights/update_flight/airplane}"  method="post">
        <hr>
        <hr>
        <select name="flightToUpdateAirplane">
            <option th:each="flight: ${flights}" th:value="${flight.toString()}" th:text="${flight.toString()}"></option>
        </select>
        <select name="newFlightAirplane" >
            <option th:each="airplane: ${airplanes}" th:value="${airplane.getName()}" th:text="${airplane.getName()}"></option>
        </select>
        <hr>
        <hr>
        <div class="btn-block">
            <button name="action" type="submit" value="update">Update flight</button>
        </div>
    </form>
    <form action="#" th:action="@{/admin_flights/update_flight/price}"  method="post">
        <hr>
        <hr>
        <select name="flightToUpdatePrice">
            <option th:each="flight: ${flights}" th:value="${flight.toString()}" th:text="${flight.toString()}"></option>
        </select>
        <input name="newPrice" type="number"  id="name" placeholder="New price" required/>
        <hr>
        <hr>
        <div class="btn-block">
            <button name="action" type="submit" value="update">Update flight</button>
        </div>
    </form>
    <form th:action="@{/admin_home}">
        <button name="action" type="submit" value="back">Back</button>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>Departure airport</th>
        <th>Arrival airport</th>
        <th>Departure date and time</th>
        <th>Arrival date and time</th>
        <th>Airplane</th>
        <th>Nr of bookings</th>
        <th>Seats available</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flights}">
        <td><span th:text="${flight.getAirportDeparture()}">Departure airport</span></td>
        <td><span th:text="${flight.getAirportArrival()}">Arrival airport</span></td>
        <td><span th:text="${flight.getDepartureTime()}">Departure date and time</span></td>
        <td><span th:text="${flight.getArrivalTime()}">Arrival date and time</span></td>
        <td><span th:text="${flight.getAirplane()}">Airplane</span></td>
        <td><span th:text="${flight.getNrOfBookings()}">Nr of bookings</span></td>
        <td><span th:text="${flight.getSeatsAvailable()}">Seats available</span></td>
        <td><span th:text="${flight.getPrice()}">Price</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>