<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin airplanes</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
        html, body {
            display: flex;
            justify-content:left;
            height: 100%;
        }
        body, div, h1, form, input, p {
            padding: 0;
            margin: 0;
            outline: none;
            font-family: Roboto, Arial, sans-serif;
            font-size: 16px;
            color: #666;
        }
        h1 {
            padding: 10px 0;
            font-size: 32px;
            font-weight: 300;
            text-align: center;
        }
        p {
            font-size: 12px;
        }
        hr {
            color: #a9a9a9;
            opacity: 0.3;
        }
        .main-block {
            max-width: 340px;
            min-height: 260px;
            padding: 10px 0;
            margin: auto;
            border-radius: 5px;
            border: solid 1px #ccc;
            box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            background: #ebebeb;
        }
        form {
            margin: 0 30px;
        }

        input[type=radio] {
            display: none;
        }
        label#icon {
            margin: 0;
            border-radius: 5px 0 0 5px;
        }
        label.radio {
            position: relative;
            display: inline-block;
            padding-top: 4px;
            margin-right: 20px;
            text-indent: 30px;
            overflow: visible;
            cursor: pointer;
        }
        label.radio:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #1c87c9;
        }
        label.radio:after {
            content: "";
            position: absolute;
            width: 9px;
            height: 4px;
            top: 8px;
            left: 4px;
            border: 3px solid #fff;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
            opacity: 0;
        }
        input[type=radio]:checked + label:after {
            opacity: 1;
        }
        input[type=text], input[type=password] {
            width: calc(100% - 57px);
            height: 36px;
            margin: 13px 0 0 -5px;
            padding-left: 10px;
            border-radius: 0 5px 5px 0;
            border: solid 1px #cbc9c9;
            box-shadow: 1px 2px 5px rgba(0,0,0,.09);
            background: #fff;
        }
        input[type=password] {
            margin-bottom: 15px;
        }

        .btn-block {
            margin-top: 10px;
            text-align: center;
        }
        button {
            width: 100%;
            padding: 10px 0;
            margin: 10px auto;
            border-radius: 5px;
            border: none;
            background: #1c87c9;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
        }
        button:hover {
            background: #26a9e0;
        }
    </style>
</head>
<body>
<div class="main-block">
    <form action="#" th:action="@{/admin_airplanes/add_airplane}" th:object="${airplaneDto}" method="post">
        <hr>
        <hr>
        <input th:field="*{name}" type="text" name="email" id="name" placeholder="Name" required/>
        <input th:field="*{capacity}" type="number" name="password" id="name" placeholder="Capacity" required/>
        <hr>
        <hr>
        <div class="btn-block">
            <button name="action" type="submit" value="add">Add airplane</button>
        </div>
    </form>
    <form action="#" th:action="@{/admin_airplanes/delete_airplane}" method="post">
        <hr>
        <hr>
        <select name="airplaneToDelete">
            <option th:each="airplane: ${airplanes}" th:value="${airplane.getName()}" th:text="${airplane.getName()}"></option>
        </select>
        <hr>
        <hr>
        <div class="btn-block">
            <button name="action" type="submit" value="delete">Delete airplane</button>
        </div>
    </form>
    <form action="#" th:action="@{/admin_airplanes/update_airplane_name}"  method="post">
        <hr>
        <hr>
        <select name="airplaneToUpdateName">
            <option th:each="airplane: ${airplanes}" th:value="${airplane.getName()}" th:text="${airplane.getName()}"></option>
        </select>
        <input th:name="newAirplaneName" type="text" name="email" id="name" placeholder="New name" required/>
        <hr>
        <hr>
        <div class="btn-block">
            <button name="action" type="submit" value="update">Update airplane</button>
        </div>
    </form>
    <form action="#" th:action="@{/admin_airplanes/update_airplane_capacity}"  method="post">
        <hr>
        <hr>
        <select name="airplaneToUpdateCapacity">
            <option th:each="airplane: ${airplanes}" th:value="${airplane.getName()}" th:text="${airplane.getName()}"></option>
        </select>
        <input th:name="newCapacity" type="number" name="email" id="name" placeholder="New capacity"/>
        <hr>
        <hr>
        <div class="btn-block">
            <button name="action" type="submit" value="update">Update airplane</button>
        </div>
    </form>
    <form th:action="@{/admin_home}">
        <button name="action" type="submit" value="back">Back</button>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Capacity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="airplane : ${airplanes}">
        <td><span th:text="${airplane.getName()}">Name</span></td>
        <td><span th:text="${airplane.getCapacity()}">Capacity</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>