<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
    <title>Book a flight</title>
    <style>
        .social-part .fa{
            padding-right:20px;
        }
        ul li a{
            margin-right: 20px;
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        .form-div{
            background-color: #f7f7f7;
        }
        select,input{
            width: 90%;
            padding: 12px 20px;
            margin: 8px 8px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type=submit]{
            color:white;
            background-color: #1c87c9;
        }
        .table_div{
            width: 100%;
        }
        #flights {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #flights td, #flights th {
            border: 1px solid #ddd;
            height: 50px;
        }

        #flights tr:nth-child(even){background-color: #f2f2f2;}

        #flights tr:hover {background-color: #ddd;}

        #flights th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #1c87c9;
            color: white;
        }
        #button_form{
            width: 100%;
            height: 100%;
        }
        #button_book{
            width: 100%;
            height: 100%;
            background-color: #449d44;
            color: white;
        }
        #form{
            width: 25%;
            background-color: #f2f2f2;
        }
        #button_logout{
            height: 100%;
            background-color: #449d44;
            color: white;
        }
        li:hover {
            background: #449d44 ;
            color: white;
        }
        .image_div{
            height: 600px;
        }
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/book_flight/{id}(id=${userId})}">Book a flight <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my_bookings/{id}(id=${userId})}">My bookings</a>
            </li>
        </ul>
        <div class="social-part">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <form th:action="@{/login}">
                <button id="button_logout" type="submit">Log out</button>
            </form>
        </div>
    </div>
</nav>
<div class="image_div">
<img height="600px" width=100% th:src="@{/images/airplane.png}">
</div>
<div class="form-div">
    <form id="form" th:action="@{/book_flight/{id}(id=${userId})}" method="post">
        <label>Departure</label><br>
        <select name="departure" >
            <option th:each="airport:${airports}" th:value="${airport.getLocation_name()}"
                    th:text="${airport.getLocation_name()}"></option>
        </select><br>
        <label>Destination</label><br>
        <select name="destination">
            <option th:each="airport:${airports}" th:value="${airport.getLocation_name()}"
                    th:text="${airport.getLocation_name()}"></option>
        </select><br>
        <label>Date</label><br>
        <input name="departureTime" type="date" id="date" required><br>
        <label>Number of seats</label><br>
        <input type="number" id="seats" name="seats" required><br>
        <input name="action" type="submit" value="Search">
    </form>
</div>
<div class="table_div">
    <div class="alert" th:if="${flag}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        No flights found.
    </div>
    <table id="flights" th:with="mycounter=${counter.get()}">
        <thead>
        <tr>
            <th>Departure</th>
            <th>Destination</th>
            <th>Departure time</th>
            <th>Arrival time</th>
            <th>Airplane</th>
            <th>Seats available</th>
            <th>Price per ticket</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight : ${flights}">
            <td><span th:text="${flight.getAirportDeparture()}">Departure</span></td>
            <td><span th:text="${flight.getAirportArrival()}">Destination</span></td>
            <td><span th:text="${flight.getDepartureTime()}">Departure time</span></td>
            <td><span th:text="${flight.getArrivalTime()}">Arrival time</span></td>
            <td><span th:text="${flight.getAirplane()}">Airplane</span></td>
            <td><span th:text="${flight.getSeatsAvailable()}">Seats available</span></td>
            <td><span th:text="${flight.getPrice()}">Price per ticket</span></td>
            <td th:with="mycounter=${counter.incrementAndGet()}">
                <form id="button_form" th:action="@{/book_flight/{id}/{option}(id=${userId},option=${mycounter})}" method="post">
                    <button id="button_book" type="submit">Book</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert" th:if="${flagOverbook}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        There are not enough seats available for your request.
    </div>
</div>
</body>
</html>