<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My bookings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
    <style>
        .social-part .fa{
            padding-right:20px;
        }
        ul li a{
            margin-right: 20px;
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        .form-div{
            background-color: #f7f7f7;
        }
        select,input{
            width: 90%;
            padding: 12px 20px;
            margin: 8px 8px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type=submit]{
            color:white;
            background-color: #1c87c9;
        }
        .table-div1,.table-div2{
            width: 100%;
        }
        #table1,#table2 {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .table-div1,.table-div2{
            padding-top: 100px;
        }

        #table1 td, #table1 th, #table2 td, #table2 th {
            border: 1px solid #ddd;
            height: 50px;
        }

        #table1 tr:nth-child(even),#table2 tr:nth-child(even){background-color: #f2f2f2;}

        #table1 tr:hover,#table2 tr:hover {background-color: #ddd;}

        #table1 th,#table2 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #1c87c9;
            color: white;
        }
        #button_form{
            width: 100%;
            height: 100%;
        }
        #button_book{
            width: 100%;
            height: 100%;
            background-color: #449d44;
            color: white;
        }
        #button_logout{
            height: 100%;
            background-color: #449d44;
            color: white;
        }
        li:hover {
            background: #449d44 ;
            color: white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/book_flight/{id}(id=${userId})}">Book a flight <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my_bookings/{id}(id=${userId})}">My bookings</a>
            </li>
        </ul>
        <div class="social-part">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <form th:action="@{/login}">
                <button id="button_logout" type="submit">Log out</button>
            </form>
        </div>
    </div>
</nav>
<div class="table-div1">
    <h1>Available bookings</h1>
    <table id="table1">
        <thead>
        <tr>
            <th>Departure</th>
            <th>Destination</th>
            <th>Departure time</th>
            <th>Arrival time</th>
            <th>Airplane</th>
            <th>Price</th>
            <th>Number of seats</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking: ${activeBookings}">
            <td><span th:text="${booking.getFlightDto().getAirportDeparture()}"></span></td>
            <td><span th:text="${booking.getFlightDto().getAirportArrival()}"></span></td>
            <td><span th:text="${booking.getFlightDto().getDepartureTime()}"></span></td>
            <td><span th:text="${booking.getFlightDto().getArrivalTime()}"></span></td>
            <td><span th:text="${booking.getFlightDto().getAirplane()}"></span></td>
            <td><span th:text="${booking.getFlightDto().getPrice()}"></span></td>
            <td><span th:text="${booking.getNrOfSeats()}"></span></td>
            <td th:with="mycounter=${counter.incrementAndGet()}">
                <form id="button_form" th:action="@{/my_bookings/{id}/remove_booking/{option}(id=${userId},option=${mycounter})}" method="post">
                    <button id="button_book" type="submit">Remove booking</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="table-div2">
    <h1>History of bookings</h1>
    <table id="table2">
        <thead>
        <tr>
            <th>Departure</th>
            <th>Destination</th>
            <th>Departure time</th>
            <th>Arrival time</th>
            <th>Airplane</th>
            <th>Price</th>
            <th>Number of seats</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking: ${historyOfBookings}">
            <td><span th:text="${booking.getFlightDto().getAirportDeparture()}"></span></td>
            <td><span th:text="${booking.getFlightDto().getAirportArrival()}"></span></td>
            <td><span th:text="${booking.getFlightDto().getDepartureTime()}"></span></td>
            <td><span th:text="${booking.getFlightDto().getArrivalTime()}"></span></td>
            <td><span th:text="${booking.getFlightDto().getAirplane()}"></span></td>
            <td><span th:text="${booking.getFlightDto().getPrice()}"></span></td>
            <td><span th:text="${booking.getNrOfSeats()}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>